# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
example
/vic
tests/test-vic-exec
tests/test-vic-funcs
tests/test-vic-serial
tests/test-vic-var

# Swap files
*.swp
